 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 
 * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transition: all 1s ease-in-out;
  }
  body{
    scroll-behavior: smooth;
    background-color: #0f172a;
  color: #e5e7eb;
    max-width: 1412px;  
    margin:  0 auto;
    
  }


  .header {
    max-width: 100%;
    background-color: #0f172a;
    box-shadow: 5px 5px 10px #73225533;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 99999;
  }

  .header h1 {
    font-size: 2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #e55050;
  }

  .header nav {
    display: flex;
    align-items: center;
    gap: 3px;
    
  }
  .header nav ul {
    display: flex;
    align-items: center;
    gap: 2.4em;
  }

  .header nav ul li a {
    color: #ffff;
    text-transform: capitalize;
    font-size: 1.4em;
    padding-bottom: 20px;
  }

  .header nav ul li:first-child a {
    color: #ea1212;
  }

  .header nav ul li a:hover {
    color: #732255;
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  .header nav .btn {
    margin-left: 50px;
   
  }
  .header nav .btn .menu-bar {
    display: none;
    cursor: pointer;
  }

  .header nav  .fa-moon , .menu-bar , .fa-heart{
    font-size: 1.5em;
    color: #732255;
    
  }
  .header nav  .fa-moon:hover , .menu-bar:hover , .fa-heart:hover{
    cursor: pointer;
    color: #732255;
    transform: rotate(360deg);
  }


  .fa-sun{
    font-size: 1.6em;
  }
  .header .btn{
    display: flex;
    align-items: center;
    gap: 0.6em;
  }


  .fa-xmark{
    font-size: 1.8em;
  }

  /* hero section */

  .hero {
    max-width: 90%;

    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    padding: 10px 5%;
  }

  .hero .content {
    width: 45%;
    max-height: 100%;
    padding: 10px;
  }

  .hero .content h3 {
    font-size: 2.6em;
    color: #e55050;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 2;
  }

  .hero .content .dev {
    font-size: 2em;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #e5e7eb;
  }

  .hero .content .dev span {
    text-decoration: underline;
    text-underline-offset: 9px;
  }

  .hero .content .info {
    text-align: justify;
    font-size: 1.2em;
    color: #c5f1e777;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .content .btns {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .content .btns button {
    width: 50%;
    padding: 15px;

    border-radius: 5px;
    background-color: #e55050;
    color: #fff;
    font-size: 1.3em;
    box-shadow: 2px 2px 5px fff;
    border: none;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .content .btns button:last-child {
    background-color: #732255;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    
  } 
.content .btns button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 5px #000;
    scale: 105%;
}




  .hero .icons {
    color: #732255;

    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-right: 30px;
    position: absolute;
    left: 20px;
    padding-top: 40px;
  }

  .hero .icons i {
    font-size: 1.6em;
  }
  .hero .icons i:first-child {
    color: #e55050;
  }

  .hero .icons i:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }

  .image {
    width: 45%;
    max-height: 100%;
  }

  .image img {
    width: 100%;
    max-height: 100%;
    border-radius: 20px;
  }

  /* about */
  .about {
    width: 90%;
    margin: auto;
    height: 80vh;
    margin-bottom: 50px;
  }

  .about .heading {
    text-align: center;
    color: #c5f1e7;
    margin-bottom: 20px;
  }

  .about .heading h1 {
    font-size: 2.2em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #e5e7eb;
  }

  .about .heading div {
    border-bottom: 4px solid #e55050;
    width: 100px;
    margin: auto;
  }

  .about .about-me {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

  .about .about-me .my-image {
    width: 35%;
    max-height: 100%;
    position: relative;
  }

  .about .about-me .my-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .about .about-me .my-info {
    width: 40%;
    padding: 10px;
  }

  .about .about-me .my-info h4 {
    font-size: 1.5em;
    color: #e55050;
    margin-bottom: 30px;
    letter-spacing: 3px;
  }

  .about .about-me .my-info h1 {
    font-size: 1.4em;
    text-align: justify;
    margin-bottom: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.4;
  }

  .about .about-me .my-info p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
  }

  .about .about-me .cv-btns {
    display: flex;
    align-items: center;
    gap: 2em;
    text-transform: capitalize;
  }

  .about .about-me .my-info .my-cv,
  .project {
    width: 100%;
    background-color: #e55050;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #0000004d;
  }

  .about .about-me .my-info .project {
    background-color: #fff  ;
    color: #732255;
    box-shadow: 3px 3px 5px #0000004d;
    text-transform: capitalize;
  }

  .about .about-me .cv-btns button:hover {
    background-color: #732255;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 4px 4px 5px #000;
    font-size: 1em;
  }

  .about .about-me .cv-btns .project button:hover {
    background-color: #732255;
    color: #fff;
    /* letter-spacing: 3px; */
    box-shadow: 4px 4px 5px #000;
    font-size: 1em;
  }

  .about .about-me .social-media {
    position: absolute;
    bottom: -15px;
    background-color: #c5f1e7;
    color: #e55050;
    left: 30%;
    display: flex;
    gap: 2em;
    padding: 15px 20px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #000;
    text-align: center;
  }

  .about .about-me .social-media i {
    font-size: 1.2em;
  }

  .about .about-me .social-media i:hover {
    color: #000;
    transform: rotate(360deg);
  }

  .my-skills {
    width: 90%;
    margin:  40px auto;
    margin-bottom: 50px;
  }

  .my-skills .heading {
    margin-bottom: 60px;
  }

  .heading h1 {
    text-align: center;
    font-size: 2.2em;
    color: #e5e7eb;
    line-height: 1.4;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .heading div {
    border-bottom: 4px solid #e55050;
    width: 100px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .my-skills .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }

  .my-skills .skills .skill {
    width: 25%;
    height: 400px;
    background-color: #9d3b76;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #b135355f, -3px -3px 5px #0000005f;
  }

  .my-skills .skills .skill h1 {
    text-align: left;
    font-size: 1.3em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    margin-bottom: 30px;
    letter-spacing: 3px;
  }

  .my-skills .skills .skill .frontend,
  .backend,
  .Tools {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .my-skills .skills .skill h5 {
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 1.5;
  }

  .my-skills .skills .skill div progress {
    width: 100%;
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
  }

  progress::-webkit-progress-bar {
    background-color: #ccc;
    border-radius: 20px;
  }

  progress::-webkit-progress-value {
    background-color: #fff;
    border-radius: 10px;
  }
  .my-skills .skills .skill h1{
    color: #e5e7eb;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
  }
  .my-skills .skills .skill h5{
    color: #c5f1e7;
    border-radius: 10px;
  }

  /* my projects  goes here*/

  .my-projects {
    width: 100%;
     
    
  }

  .my-projects h1{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    line-height: 1.5;
    
    
  }

  .my-projects .projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 2em;

  }

  .my-projects .projects .box {
    width: 30%;
    height: 50vh;
    background-color: #0f172a;
    border-radius: 10px;
    padding: 10px ;
    box-shadow: 3px 3px 5px #6666669f, -3px -3px 5px #6666669f;
   
    
  }
  .box:hover{
    box-shadow: 4px 4px 5px #e55050a0, -4px -4px 5px #e55050a0;
    transform: translateY(-5px);
  }



  .my-projects .projects .box .image{
    width: 100%;
    height: 200px;
    
  
  }

  .my-projects .projects .box .image img{
    width: 100%;
    border-radius: 0px;
    object-fit:cover;
  
  }


  .my-projects .projects .box h3{
    font-size: 1.4em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2;
    text-transform: capitalize;
    color: #0f172a;
  }

  .my-projects .projects .box p{
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
  }

  .my-projects .projects .box .btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .my-projects .projects .box button{
    width: 50%;
    border: none;
    padding: 10px;
    background-color: #e55050;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    text-transform: capitalize;
  }

  .my-projects .projects .box .btns button:last-child{
    background-color: #000;
  }



  .my-projects .projects .box .btns button:hover {
    background-color: #000;
    color: #fff;
    margin-bottom: 10px;
    box-shadow: 4px 4px 5px #e55050a0, -4px -4px 5px #e55050a0;
  }

  .my-projects .btn {
  display: inline-block;
  padding: 12px 22px;
  background-color: #e55050;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(229, 80, 80, 0.4);
}

.my-projects .btn:hover {
  background-color: #c73d3d;
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(229, 80, 80, 0.6);
}

.my-projects .btn:active {
  transform: scale(0.97);
}



.contact {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);   */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact-box {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 35px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.contact-box h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-box p {
  text-align: center;
  font-size: 14px;
  color: #ddd;
  margin-bottom: 30px;
}

/* Floating Inputs */
.input-box {
  position: relative;
  margin-bottom: 25px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 12px 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  color: #fff;
  font-size: 15px;
}

.input-box textarea {
  resize: none;
  height: 100px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #ccc;
  font-size: 14px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.3s;
}


.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box textarea:focus ~ label,
.input-box textarea:valid ~ label {
  top: -5px;
  color: #e55050;
  font-size: 16px;
}

.contact-box button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #0f172a, #732255);
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: #c5f1e7;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-transform: capitalize;
}

.contact-box button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(88, 39, 28, 0.6);
}









  /* footer */

  .footer{

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: #e5e7eb;
  }


  .footer h1{
    font-size: 1.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

  }


  .footer nav ul {
    display: flex;
    align-items: center;
    gap: 2.4em;
  }


  .footer nav ul li a {
    text-transform: capitalize;
    font-size: 1.4em;
    padding-bottom: 20px;
  
    color: #c5f1e7;
  }

  .footer nav ul li:first-child a {
    color: #e55050;
  }

  .footer nav ul li a:hover {
    color: #732255;
    text-decoration: underline;
    text-underline-offset: 10px;
  }

  .footer .icons {
    color: #732255;

    display: flex;
    flex-direction: row;
    gap: 2em;
    
  }

  .footer .icons i {
    font-size: 1.6em;
  }
  .footer .icons i:first-child {
    color: #e55050;
  }

  .footer .icons i:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }

  .footer p{
    width: 100%;
    text-align: center;
  }












  /* responsive */

  @media screen and (max-width: 480px) {
    .header {
      max-width: 100%;
      padding: 20px;

    }

    .header nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #0f172a;
    padding: 10px;
    
    }
    .header nav .btn .menu-bar , .fa-moon , .fa-heart{   
      display: block;
      font-size: 1.4em;
      
    }

    .hero {
      max-width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    .hero .content {
      width: 100%;
      /* padding: 5px; */
    }
    .hero .content h3 {
      font-size: 1.8em;
      margin-bottom: 5px;
    }
    .hero .content .dev {
      font-size: 1.4em;
    }
    .hero .content .info {
      font-size: 1.2em;
      text-align: justify;
      line-height: 1.6;
    }

    .hero .content .btns .btn {
      width: 100%;
      padding: 10px 25px;
      margin-bottom: 50px;
      font-size: 1em;
    }

    .hero .image {
      width: 100%;
    }
    .hero .image img {
      max-width: 100%;
      max-height: 100%;
    }
  .hero .icons{
    left: 2px;
    top: 10%;
    font-size: 1.2em;
  }
    
    .about {
      max-width: 100%;
      height: 100%;
      /* background-color: #732255;   */
      padding: 10px;
      /* margin-bottom: 4 0px; */
    }
    .about .heading h1 {
      font-size: 1.4em;
    }
    .about .about-me {
      flex-direction: column;
      gap: 3em;
      align-items: center;
      padding: 10px;
    }
    .about .about-me .my-image {
      width: 100%;
    }

    .about .about-me .my-info {
      width: 100%;
      padding: 5px;
    }
    .about .about-me .my-info h1 {
      font-size: 1.2em;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 600;
    }
    .about .about-me .my-info p {
      font-size: 1.3em;
    }
    .about .about-me .my-info .personal-info {
      /* flex-direction: ; */
      gap: 2em;
      justify-content: center;
    }
    .about .about-me .my-info .personal-info div {
      box-shadow: 3px 3px 5px #6666669f ,-3px -3px 5px #6666669f;
      width: 100%;
      padding: 10px;
    }

    .about .about-me .my-info .cv-btns button {
      width: 80%;
      padding: 15px;
      font-size: 1em;
    }
    .about .about-me .social-media {
      left: 20%;
    }

    .my-skills {
      max-width: 100%;
      margin-top: 50px;
    }

    .my-skills .skills {
      mqx-width: 100%;
      flex-direction: column;
      align-items: center;
    }

    .my-skills .skills .skill {
      width: 80%;
      flex-direction: column;
      align-items: center;
      row-gap: 3em;
    }
    projects
    .my-projects{
      max-width: 100%;
      
    }
    .my-projects .projects{
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: 20px
    
  

  }

  .my-projects .projects .box{
    width: 100%;
    height: 100%;
    overflow: hidden;

  }

  .contect-me {
  max-width: 100%;




    

  }
  .contect-me h3{
    font-size: 1.4em;
    padding: 10px;
  }

  .contect-me p{
    font-size: 1.2em;
  }

  .contect-me .form-con{
    max-width: 100%; 
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 30px;
    
    
    
    
  }

  .contect-me .form-con .form {
    width: 100%;
  }

  .contect-me .form-con .form form {
  
    max-width: 100%;
  
    
  
  }

  .contect-me .form-con .content-info{
    max-width: 100%; 
  

    
  }
  .contect-me .form-con .form form span{
    flex-direction: column;
    align-items: center;
  }
  .contect-me .form-con .form form span input{
  width: 80%;
  font-size: 1em  ;
  }
  .contect-me .form-con .form form textarea , input{
    width: 80%; 
    font-size: 1em;
  }

  .contect-me .form-con .form form .mess{
    width: 60%;
    font-size: 0.8em;
    margin-left: 15px;
    
  }

  }


  .footer span{
    width: 30%;
    
    height: 2px;
    background-color: #00000030;
  }

  .footer p{
    font-size: 1.2em;

    /* nav */

  }
    


  .fa-xmark{
    color: #e55050
  }


  @media (max-width: 600px) {
  .row {
    flex-direction: column;
    background-color: #c73d3d;
  }
}


  .footer{
    max-width: 100%;
  
  }
  .footer nav ul{
    flex-direction: column;
  }